{{#partial "content"}}
    <h1>Hello, {{{ username }}}</h1>
    <p>Please enter your password</p>
    <form action="/authenticate" method="get">
        <input type="text" name="password" placeholder="Password">
        <button>Authenticate</button>
    </form>
{{/partial}}

{{> base.hbs }}
